---
// LazyBoxVideo.astro
interface Props {
  title?: string;
}

const { 
  title = "Robot Navigation Study" 
} = Astro.props;

// Add parameters to hide UI elements:
// - nodownload=1 prevents download
// - boxui=none removes the Box UI elements
// - showui=0 hides additional controls
const embedUrl = "https://cornell.app.box.com/embed/v/robotability-video?nodownload=1&boxui=none&showui=0";
---

<div class="relative aspect-video w-full">
  <div class="w-full h-full">
    <iframe
      src={embedUrl}
      class="w-full h-full min-h-[400px]"
      frameborder="0"
      allowfullscreen
    ></iframe>
  </div>
</div>